<div class="modal-header">
    <button type="button" class="close" ng-click="close('cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Forgot your password?</h4>
</div>
<div class="modal-body">
    <p>We can help you for sure, please choose the type of help you want.</p>

    <label for="ResetLink">
        <input type="radio"
               ng-model="helpType"
               value="ResetLink"
               id="ResetLink"
               name="recoveryOptionsRadio">
        &nbsp;Send a Reset Link
    </label>
    </br>
    <label for="RecoveryClue">
        <input type="radio"
               ng-model="helpType"
               value="RecoveryClue"
               id="RecoveryClue"
               name="recoveryOptionsRadio">
        &nbsp;Send a Recovery Clue
    </label>
    <p>We are going to send an email to your registered account, make sure you have access to it.</p>
</div>
<div class="modal-footer">
    <div class="pull-left">
        <label style="color: red">{{messages}}</label>
    </div>
    <button type="button" ng-click="close('cancel')" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" ng-click="ok('ok')" ng-disabled="okDisabled" class="btn btn-primary" data-dismiss="modal">OK</button>
</div>