<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EmailTemplates" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <EmailTemplates>
    <add key="ResetLink" value="LoginTestApp.Crosscutting.Email.Templates.Views, ResetLinkTemplate" />
    <add key="RecoveryClue" value="LoginTestApp.Crosscutting.Email.Templates.Views, RecoveryClueTemplate" />
  </EmailTemplates>
</configuration>