<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="EmailTemplates" type="System.Configuration.NameValueSectionHandler" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <EmailTemplates>
    <add key="ResetLink" value="LoginTestApp.Crosscutting.Email.Templates.Views, ResetLinkTemplate" />
    <add key="RecoveryClue" value="LoginTestApp.Crosscutting.Email.Templates.Views, RecoveryClueTemplate" />
  </EmailTemplates>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>