@* Generator : Template TypeVisibility : Public GeneratePrettyNames : true*@

@* ReSharper disable once CSharpWarnings::CS0108 *@
@functions {
    public LoginTestApp.Crosscutting.EMail.Templates.Models.ResetLinkModel Model { get; set; }

    public string Subject
    {
        get { return "Password Recovery - Reset Link Requested"; }
    }
}

@* Starts Template Body *@

    @*{{ 'logo.png' | asset_url | img_tag }}*@
    @if (!string.IsNullOrWhiteSpace(Model.CustomerName))
    {
        <p>Dear <b>@Model.CustomerName</b></p>
    }
    <p></p>
    <p>You have requested to have your password reset for your account at <b>@Model.ApplicationName</b>.</p>
    <p></p>
    <p>Please visit below link to reset your password. </p>
    <p></p>
    <p><a href="@Model.Url">Reset Password Link</a></p>
    <p></p>
    <p>If you received this email due to an error, you can safely ignore it.</p>

@* Ends Template Body *@
