<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <!--<authentication mode="Forms" /><forms loginUrl="~/Views/Shared/Login" timeout="2880" /></authentication>-->
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="PasswordRecovery" type="System.Configuration.NameValueSectionHandler" />

    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <connectionStrings>
    <!--<add name="LoginTestAppContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=LoginTestAppContext-30; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|LoginTestAppContext-30.mdf" providerName="System.Data.SqlClient" />-->
    <add name="LoginTestAppContext" connectionString="Data Source=localhost\sql2012; Initial Catalog=LoginTestAppContext-3; Integrated Security=True;" providerName="System.Data.SqlClient" />
    <!--<add name="LoginTestAppContext" connectionString="Data Source=localhost; Initial Catalog=LoginTestAppContext-3; Integrated Security=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <system.net>
    <!-- Default Smtp Config -->
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com" port="587" userName="jangelmorenol" password="23QZ2VjP/R6W3uUIG6kk+Q==" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="ISystemContext" type="LoginTestApp.Crosscutting.Contracts.ISystemContext, LoginTestApp.Crosscutting.Contracts" />

    <container>

      <register type="Microsoft.Practices.Unity.IUnityContainer, Microsoft.Practices.Unity" 
                mapTo="Microsoft.Practices.Unity.UnityContainer, Microsoft.Practices.Unity" />

      <register type="LoginTestApp.Crosscutting.Contracts.InversionOfControl.IDependencyResolver, LoginTestApp.Crosscutting.Contracts" 
                mapTo="LoginTestApp.Crosscutting.InversionOfControl.DependencyResolver, LoginTestApp.Crosscutting" />

      <!-- Controllers -->
      <register type="LoginTestApp.Controllers.AccountController, LoginTestApp" 
                mapTo="LoginTestApp.Controllers.AccountController, LoginTestApp" />

      <!-- Crosscutting Concerns -->
      <register type="LoginTestApp.Crosscutting.Contracts.ILogger, LoginTestApp.Crosscutting.Contracts" 
                mapTo="LoginTestApp.Crosscutting.Logger, LoginTestApp.Crosscutting">
        <constructor>
          <param name="applicationName" value="LoginTestApp" />
          <param name="targetLog" value="Application" />
        </constructor>
      </register>

      <register type="AutoMapper.Profile, AutoMapper" 
                mapTo="LoginTestApp.Repository.MappingConfiguration.LoginTestAppConfigProfile, LoginTestApp.Repository" />

      <register type="LoginTestApp.Crosscutting.Contracts.IDataMapper, LoginTestApp.Crosscutting.Contracts" 
                mapTo="LoginTestApp.Crosscutting.DataMapper, LoginTestApp.Crosscutting">
        <constructor>
          <param name="configProfiles">
            <array>
              <dependency type="AutoMapper.Profile, AutoMapper" />
            </array>
          </param>
        </constructor>
      </register>

      <register type="LoginTestApp.Crosscutting.Contracts.Email.IEmailSender, LoginTestApp.Crosscutting.Contracts" 
                mapTo="LoginTestApp.Crosscutting.Email.EmailSender, LoginTestApp.Crosscutting" />

      <register type="ISystemContext" 
                mapTo="LoginTestApp.Crosscutting.HttpContext, LoginTestApp.Crosscutting">
        <constructor>
          <param name="appFullName" value="App Full Name" />
        </constructor>
      </register>

      <register type="LoginTestApp.Crosscutting.Contracts.IConfigurationProvider, LoginTestApp.Crosscutting.Contracts" 
                mapTo="LoginTestApp.Crosscutting.ConfigurationProvider, LoginTestApp.Crosscutting" />

      <register type="LoginTestApp.Crosscutting.Contracts.ICryptoProvider, LoginTestApp.Crosscutting.Contracts" 
                mapTo="LoginTestApp.Crosscutting.CryptoProvider, LoginTestApp.Crosscutting" />

      <!-- Business Managers -->
      <register type="LoginTestApp.Business.Contracts.Managers.IAccountManager, LoginTestApp.Business.Contracts" 
                mapTo="LoginTestApp.Business.Managers.AccountManager, LoginTestApp.Business" />

      <register type="LoginTestApp.Business.Contracts.Strategies.IPasswordRecoveryStrategy, LoginTestApp.Business.Contracts" 
                mapTo="LoginTestApp.Business.Strategies.PasswordRecoveryStrategy, LoginTestApp.Business" />

      <!-- Business Validators -->
      <register type="LoginTestApp.Business.Contracts.ModelValidators.IUserValidator, LoginTestApp.Business.Contracts" 
                mapTo="LoginTestApp.Business.ModelValidators.UserValidator, LoginTestApp.Business" />

      <!-- Domain Contexts -->
      <register type="LoginTestApp.Repository.Contracts.IAccountContext, LoginTestApp.Repository.Contracts" 
                mapTo="LoginTestApp.Repository.AccountContext, LoginTestApp.Repository" />

      <!-- Repositories -->
      <register type="LoginTestApp.Repository.Contracts.Repositories.IDynamicLinksRepository, LoginTestApp.Repository.Contracts" 
                mapTo="LoginTestApp.Repository.Repositories.DynamicLinksRepository, LoginTestApp.Repository" />

      <register type="LoginTestApp.Repository.Contracts.Repositories.IUsersRepository, LoginTestApp.Repository.Contracts" 
                mapTo="LoginTestApp.Repository.Repositories.UsersRepository, LoginTestApp.Repository" />

      <!-- Data Access -->
      <register type="LoginTestApp.DataAccess.Contracts.Context.ILoginTestAppContext, LoginTestApp.DataAccess.Contracts" 
                mapTo="LoginTestApp.DataAccess.Context.LoginTestAppContext, LoginTestApp.DataAccess">
        <constructor>
          <param name="nameOrConnectionString" value="LoginTestAppContext" />
          <param name="systemContext">
            <dependency type="ISystemContext" />
          </param>
        </constructor>
      </register>

    </container>

  </unity>


  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--minutes-->
    <add key="ResetLinkKeepAliveFor" value="1440" />
  </appSettings>



  <PasswordRecovery>
    <add key="ResetLinkUrlTemplate" value="http://localhost:63583/Login/PasswordRecovery?guidId={0}" />
    <!--minutes-->
    <add key="ResetLinkKeepAliveFor" value="15" />
    <add key="EmailSenderAddress" value="passRecovery@fake.com" />
    <add key="EmailSenderFullName" value="Password Services" />
  </PasswordRecovery>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <authentication mode="Forms">
      <forms loginUrl="~/Login" timeout="2880" />
    </authentication>

  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <!--<add name="ExtensionlessUrlHandler-Integrated-4.0" virtualPath="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>